.navigation {

    &_checkbox {

    }

    &_button {
        
    }

    &_background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
    }

    &_nav {
        
    }

    &_list {
        
    }

    &_item {
        
    }

    &_link {
        
    }
}